@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  margin: 0;
  font-family: 'Times New Roman';
}

.landing-page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header {
  text-align: left;
  margin-bottom: 40px;
  font-size: 32px;
}

.header h1 {
  font-size: 36px;
  color: #FF5733;
  margin-bottom: 10px;
}

.header p {
  /* font-size: 18px; */
  color: #0d0101;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #010c0f;
  color: #afb3bc;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #4eb5db;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.feature {
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer {
  background-color: #282c34;
  padding: 10px;
  color: rgb(11, 3, 3);
  position: absolute;
  bottom: 0;
  width: 100%;
}
body{
  font-family: 'Times New Roman', sans-serif;
}
.faq-heading{
  font-size: 36px;
  border-bottom: #0f0101;
  padding: 20px 60px;
  font-family: 'Times New Roman', sans-serif;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
width: 60%;
margin: auto;

}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}
.faq-body{
  margin: auto;
  text-align: center;
 width: 100%; 
 padding: auto;
 
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #F9F9F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}